
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p { 
  text-align: justify;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffaf9;
  color: #333;
  line-height: 1.6;
  position: relative;
  overflow-x: hidden;
}

.header_site{
  background-color: #ffe0e0;
  padding: 15px 0; /* garante altura vertical */
  position: relative;
  height: 70px; /* aumenta o header pra não esconder o botão */
  z-index: 10;
}
#menu-toggle {
  display: none;
}

.menu-hamburguer {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
 
  
}

.menu-hamburguer:hover {
  transform: translateY(-50%) scale(1.1);
}



.menu-hamburguer span {
  height: 4px;
  background-color: #333;
  border-radius: 2px;
}

.menu-nav {
  display: none;
  text-align: center;
  padding: 10px 0;
}

#menu-toggle:checked + .menu-hamburguer + .menu-nav {
  display: flex; flex-direction: row;
  align-items: center; justify-content: center;
}

.menu-nav ul {
  list-style: none; justify-content: space-between;
  width: 100%;
}

.menu-nav li {
  display: inline-block;
  margin: 0 15px;
}

.menu-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu-nav a:hover {
  background-color: #f8b4b4;
}

/* estilos para o select de tema */
.select_themeSite{
  padding: .25rem; margin-right: 1rem;
  border: 1px solid #d94f4f; border-radius: 5px;
  place-self: flex-end; outline-color: #ee3939;
}

.first-section {
  display: flex;
  align-items: center;
  min-height: 95vh;
  background: url('imagens/layla.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  color: #d94f4f;
  font-size: 28px;
  margin-bottom: 10px;
}
h3 {
  color: #d94f4f;
  font-size: 20px;
  margin-bottom: 10px;
  
}

.testimonial-section {
  display: flex; flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
}

.title_testimonial{width: 100%; text-align: center;}

.testimonial-card {
  flex: 0 0 auto;
  width: 300px;
  background-color: #fff2f2;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.subdocarrossel {
display: flex; 
gap: 330px;
justify-content: center;
}

.title_carrossel{ text-align: center;}
.card {
  background-color: #fff2f2;
  padding: 15px;
  border-radius: 10px;
  margin: 15px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.carrossel-duplo {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap; 
  padding: 20px;
  background-color: #fff2f2; 
  border-radius: 20px;
  margin: 20px auto;
  
}


.container-carrossel {
  max-width: 450px;
  min-height: 450px;
  }
  
  .carrossel {
      display: grid;
      grid-auto-flow: column;
      gap: 20px;
      overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  max-width: 310px;
  

  }
  
  .imagem {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 40px;
  }
  

.card h3 {
  color: #b33a3a;
  margin-bottom: 10px;
}

.card ul {
  list-style: disc;
  padding-left: 20px;
}

.botao {
  display: inline-block;
  background-color: #ff8a8a;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 10px 5px 0 0;
  font-weight: bold;
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: #ff6b6b;
}

.footer_site {
  background-color: #ffe0e0;
  padding: 15px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}









/* estilos do formulário de agendamento
responsavel: cauã */
.formulario_section{
  display: flex; flex-direction: column;
  align-items: center; justify-content: space-between;
  width: 100%;}

.formulario_container{
  display: flex; flex-wrap: wrap; justify-content: center; align-items: stretch;
  width: 100%; max-width: 1000px;
  gap: 1rem; padding: 1rem;
  border-radius: 1.8rem;
  background-color: transparent;
}

.info_section{
  display: flex; flex-direction: column; flex: 1 1 auto;
  align-items: stretch; justify-content: space-between;
  padding: 1rem;
  max-width: 470px; min-width: 300px;
  border: 1px solid #e8c0c0; border-radius: 1.25rem;
  background-color: white;
  box-shadow: -4px 4px 6px #00000021;
  
}

.info_header{
  display: flex; align-items: stretch; justify-content: start;
  gap: .5rem; padding: 0; margin: 0 0 .5rem 0;
  width: 100%;
  font-size: clamp(1rem, 1.2rem, 1.4rem);
  background-color: transparent; color: #d94f4f;
}

.info_icone_titulo{
  display: flex; align-items: center; justify-content: start; 
  font-size: clamp(1.2rem, 1vw, 1.5rem);
  padding: 0; margin: 0;
}

.info_title{font-size: clamp(1.2rem, 1.2vw, 1.4rem);
  margin: 0; padding: 0;}

.label_container{
  display: flex; flex-direction: column; 
  align-items: start; justify-content: space-between;
  margin-bottom: 1rem; 
  font-size: clamp(.9rem, 1vw, 1.2rem);
}

.label_description{
  color:#d94f4f;
  font-weight: 700; font-size: clamp(1.1rem, .9vw, 1.2rem);
}

.label_container input{
  width: 100%; padding: .35rem .5rem;
  border-radius: .5rem;
  margin: .25rem 0;
  border: 1px solid #d94f4f; outline-color: #d94f4f;
}

.label_hint{
  font-size: clamp(.9rem, .9vw, 1rem);
}

#contact_info{width: 100%; max-width: 470px; min-width: 400px; margin: 0;}


/*-----*/

.services_section_form{ width: 100%; margin: 0;}
.services_header_content{ margin: 0;}
.info_servicos_container{ margin: 0; }
.select_container{
  display: flex; flex-wrap: wrap;
  align-items: start; justify-content: space-between;
  gap: 1rem; margin: 1rem 0 .5rem 0; 
}


.select_label{
  display: flex; align-items: start; flex-direction: column;
  gap: 0; width: 100%;
}

.titulo_opcoes{
  flex: 1;
  width: fit-content; text-wrap: nowrap;
}
.select_input{
  flex: 2; width: 100%;
  padding: .25rem .3rem;
  border-radius: .5rem;
  outline-color: #d94f4f; border: 1px solid #b33a3a;
}

/*-----*/
.bookin_section_form{ margin: 0; }

.horarios_container{
  display: flex; flex-direction: column; 
  align-items: start; justify-content: space-between;
}

.buttons_container{
  display: flex; flex-wrap: nowrap;
  align-items: stretch; justify-content: space-between;
  gap: 2rem;
  width: 100%; margin-top: 1rem;
}

.time_button{
  border: 1px solid #d94f4f;
  background-color: #fdf1f1; color: #d94f4f;
  height: 2rem;
  font-size: .875rem; font-weight: bold;
  padding: .5rem 1rem;
  border-radius: .3rem;
  cursor: pointer;
  display: flex; align-items: center; justify-content: center;
  flex: 1 1 auto;
  transition: backgorund-color color .6s ease-in-out, ;
}

.footer_horario_formulario{
  height: fit-content; display:flex;
  background-color: transparent;
  padding: .5rem 0; margin: 0;
}

.horario_label{
  display: flex; align-items: center; justify-content: start;
  justify-self: start; align-self: start;
  gap: .5rem;margin-top: .5rem;
  font-size: clamp(.9rem, 1vw, 1.2rem);
  width: fit-content;
}

.input_time{ display: none;}

.trigger_daily_period{ margin-top: .7rem;}

.confirm_data_container{
  display: flex; flex-direction: column;
  align-items: start; justify-content: space-between;
  padding-top: .5rem; margin: 0;
  border-top: 1.5px solid #e8c0c0;
}

.data_confirmation_title{
  font-size: clamp(1.1rem, 1vw, 1.2rem); font-weight: 600;
  color:#ee3939; 
}

.data_confirmation_content{
  display: flex; flex-direction: column;
  place-content: center;
  width: 100%;
  padding: .5rem 0;
  color: #8e8a97;
  font-size: 1rem; font-weight: 500;
  text-wrap: nowrap;
}

.data_confirmation_input{
  display: flex; flex-direction: row-reverse;
  align-items: center; justify-content: center;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
}



/*-----*/
.obs_section{
  display: flex; flex-direction: column; align-items: start;
  gap: .5rem; margin: 0; width: 100%; max-width: 470px; min-width: 430px;
}

.message_label{
  width: 100%; height: 100%; 
  display: flex;  flex-direction: column;
  gap: .5rem;
}

.message_user{
  width: 100%; max-width: 40rem; height: 100%; min-height: 10rem;
  padding: .5rem;
  border-radius: .5rem;
  resize: none;
  border: 1px solid #d94f4f; outline-color: #d94f4f;
}

.counter_char_container{
  width: 100%;
  display: flex; place-content: end;
  font-weight: 500; color: #6f6e6e; 
}

/*-----*/
.footer_formulario{
  background-color: transparent; 
  width: 100%;
  display: flex; place-content: center;
  padding: 0; margin: 0;}

.button_submit{
  display: flex; align-items: center; justify-content: center;
  place-self: center;
  gap: .5rem; 
  padding: .5rem 1rem;
  height: 2.5rem; width: 100%; max-width: 12rem;
  background-color: #ff8a8a;;
  color: white;
  border: 1px solid #ff8a8a;
  border-radius: 1rem;
  cursor: pointer;
  font-size: .875rem; font-weight: bold;
}

.trigger_invalid_form{ margin: .5rem 0;}
/*-----*/



/* estilos dinâmicos do js para mensagens de erro */
.trigger_name.error, .trigger_tel.error, .trigger_selec_input.error, 
.trigger_button_disable.error, .trigger_date.error, .trigger_invalid_form.error,
.trigger_daily_period.error{
  color: #c50303;
  width: 100%; padding: .5rem; border-radius: .5rem;
  font-weight: bold; font-size: clamp(12px, 1vw, 16px);
}

.trigger_date.warning{
  color: #ca6c07;
  width: 100%; padding: .5rem; border-radius: .5rem;
  font-weight: bold; font-size: clamp(12px, 1vw, 16px);
}

.trigger_name.valid, .trigger_tel.valid, .trigger_selec_input.valid, 
.trigger_button_disable.valid, .trigger_date.valid, .trigger_daily_period.valid {
  color: green;
  width: 100%; padding: .5rem; border-radius: .5rem;
  font-weight: bold; font-size: clamp(12px, 1vw, 16px);
}

/**** estilos dinamicos do js para containers conforme erro */
.tel_input.error, .name_input.error, #calendar_input.error, #user_message.error{
  border: 2px solid #c50303; outline-color: #c50303 ;
  color: #c50303;
}

#calendar_input.warning{
  color: #ca6c07; border: 2px solid #ffaa00;
  outline-color: #ffaa00; background-color: transparent;
}

.tel_input.valid, .name_input.valid, #calendar_input.valid{
  color: green; border: 2px solid green;
  outline-color: green;
}


/* estilo dinamico do js para os botões de periodo de tempo */
.time_button.active{ background-color: #d94f4f; color: white; }

/* estilo dinamico para confirmação de data */
.data_confirmation_input.confirmed{ font-weight: 500; color:#437b43; }


/* estilo dinamico para alterar o tema do site */

body.dark_theme, .carrossel-duplo.dark_theme
{ background-color: #1a1a1a; color: #f2f2f2;}

.title_section.dark_theme, .title_form.dark_theme, .info_header.dark_theme
{ color:#f8b4b4;}

.header_site.dark_theme, .card.dark_theme, .testimonial-card.dark_theme
{ background-color:#1f1f20; color:#f2f2f2;}

.info_section.dark_theme, .footer_site.dark_theme{
  background-color:#1f1f20; color:#f2f2f2;
  border-color: #2b2b2d; box-shadow: -4px 4px 14px #00000082;
}

.menu-navItem.dark_theme
{color:#f2f2f2}

.menuSpan{background-color: #f2f2f2;}







/* maria - footer */
.footer_site {
  background-color: #e7acac;
  color: white;
  padding: 40px 20px;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container a {
  text-decoration: none;
}

.footer-container ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer-container li{
  margin-bottom: 10px;
}

.footer-nav li, 
.footer-contato li,
.footer-politicas li{
  cursor: pointer;
}

.footer-nav li:hover,
.footer-contato li:hover,
.footer-politicas li:hover {
text-decoration: underline;
}

