/* tamanho padronizados */
@media screen and (max-width: 575px) {
    /* Estilos para celulares pequenos */

    .header_site{height: 100px;}
    .menu-nav{ margin-top: 40px; margin-bottom: 20px;}
  };

  @media screen and (min-width: 576px) and (max-width: 767px) {
    /* Estilos para smartphones médios e grandes */

    .header_site{height: 100px;}
    .menu-nav{ margin-top: 40px; margin-bottom: 20px;}
  };

  @media screen and (min-width: 930px) and (max-width: 1028px){
    .formulario_container{
      flex-direction: column;
    }
  };
